<div class="background">
  <div class="gradient">
    <div class="container">
      <mat-card class="mb-3">
        <mat-card-title>
          <mat-card-content>
            <p class="mb-0">Your’r currently on a CarVue trial. Ready to move to one of our price plans? <button mat-raised-button class="success ml-3">UPGRADE HERE</button></p>
          </mat-card-content>
        </mat-card-title>
      </mat-card>

      <mat-card class="success mt-3" style="margin-top: 30px;">
          <mat-card-title>Welcome to your CarVue dashboard!</mat-card-title>
          <mat-card-content>
            <p>We’re here to help you with whatever you need. You can get in touch with our help squad by clicking her or from anywhere in the app by clicking on the? at the bottom of every page.</p>
          </mat-card-content>
      </mat-card>
      <mat-card class="success mt-3" style="margin-top: 30px;">
          <mat-card-title>Welcome to your CarVue dashboard!</mat-card-title>
          <mat-card-content>
            <p>We’re here to help you with whatever you need. You can get in touch with our help squad by clicking her or from anywhere in the app by clicking on the? at the bottom of every page.</p>
          </mat-card-content>
      </mat-card>

      <div class="d-flex flex-wrap">
        <div class="col-6" style="margin-top: 30px;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-6">
            <mat-card class="success mt-3" style="margin-top: 30px;">
                <mat-card-title>Welcome to your CarVue dashboard!</mat-card-title>
                <mat-card-content>
                  <p>We’re here to help you with whatever you need. You can get in touch with our help squad by clicking her or from anywhere in the app by clicking on the? at the bottom of every page.</p>
                </mat-card-content>
            </mat-card>
        </div>
      </div>

      <input type="checkbox" name="" id=""> KNOW WHAT YOU ARE DOING? (YOU CAN HIDE THIS MESSAGE)
      <hr>
    </div>

    
  </div>
</div>

